Possible edge-case bug while deserializing

Hello,

I don't know if this library is maintained or receives updates, but I think we just encountered a serialization bug using this code:

```java
String dec1 = "[{\"f\":\"crb:language\",\"v\":\"Englids\",\"b\":\"-\"}]";
String enc1 = LZSEncoding.compressToEncodedURIComponent(dec1);
String dec2 = LZSEncoding.decompressFromEncodedURIComponent(enc1);
```

The final `decompressFromEncodedURIComponent()` call ends with an `String index out of range: 66` exception.
Note that we deliberatly used the word "Englids" instead of "English" (it crashes too) to investigate/demonstrate/debug.

Any help resolving this?

all the best,

b.

I'll look into this now. This library, surprisingly, hasn't needed much attention lately, even with me using some variants on its code in more places. The original algorithm was by one person, and I based my code off someone else's port of that to Java, so there's several places there could be some mistake porting. Most likely, it's my mistake, and I hope that it is because I don't think I ever really understood how the algorithm works deep inside.

Watch out: dollar sign isn't a valid URI character by rfc3986, I think...
See [https://datatracker.ietf.org/doc/html/rfc3986#section-2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-2.3)

Also, it's not in RFC 4648 §5, which says the "=" character should be percent encoded instead.
See [https://datatracker.ietf.org/doc/html/rfc4648#section-5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)

The dollar sign is defined as a sub-delimiter, though I can't seem to figure out what "sub-delimiter" means in the first RFC... The only point of the trailing dollar signs is to use as padding, like what base64 I believe is supposed to use for its padding. The padding doesn't have any semantics associated with it other than empty space. Based on the original library, their tests actually check reading a String padded with dollar signs: https://github.com/pieroxy/lz-string/blob/master/src/encodedURIComponent/__tests__/encodedURIComponent.test.ts#L27 

If I can figure out a way to skip padding entirely, I'll do that. For now, I think padding is required to support.

Ah, I was unaware the original Pieroxy lib also pads using $, which is a bit... exotic.

I've implemented an experimental version of your base64 encoding using your LZByteEncoding class in the TransmissionDemo. The dependency on libgdx can simply be removed using a standard ByteArrayOutputStream (replace .add() by .write() and shrink() by toByteArray()). This generates a byte stream which can be base64url encoded using eg. java.util.Base64.

It seems to work very well until now, maybe a thought?

I think I stayed away from java.util.Base64 because for a while it wasn't implemented on all platforms I want to support. Mainly, iOS via RoboVM is a nice target in theory, but doesn't support any APIs added in Java 8 or newer (it does support Java 8's language-level features). I'm pretty sure Base64 was added in 8 or newer... And yes, it isn't much fun to be stuck on Java 7 APIs. One of my projects was started under the assumption that Java 8 APIs were coming soon to RoboVM, letting me use those APIs everywhere... And I started that project in 2020... Still waiting. Though I did figure out ways to avoid the APIs and still use default methods and lambdas.

I think LZByteEncoding does comparable work to the UTF16, Base64, or URI Encoding schemes, it just outputs a whole 8-bits as a byte instead of just 6 bits for Base64 or URI Encoding that get sent to a lookup table. Running java.util.Base64 on that seems like doing the work twice, just maybe faster for the second phase if the JVM is optimized for it.

I do use that byte-based compression in some other places; it would be interesting if Emscripten or something similar could be used with heavier-duty, more modern compression like LZ4 or ZStd to get them to work on the web. As long as the wrappers matched up between the JS that GWT calls and the Java used elsewhere, it could be pretty convenient even if the generated JS was large.

Aha, yes, I think java.util.Base64 was added quite recently. You're right that running the byte buffer through a Base64 decoder/encoder is doing the work twice, it was a quick fix because the lz-string base64url encoding/decoding is super arbitrary. lz-string.js even uses '+' in URL-safe mode, which introduces a lot of problems because they are decoded to a space (+/ should just be replaced with -_ as described by https://developer.mozilla.org/en-US/docs/Glossary/Base64).

"Should" just be replaced depends entirely on what's encoding and decoding. Base64...
> typically refers to the version of Base64 outlined in [RFC 4648](https://datatracker.ietf.org/doc/html/rfc4648), section 4, which uses the following alphabet to represent the radix-64 digits, alongside = as a padding character:

> `ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/`

And that ends with + and /, which are what the Base64 mode here uses. The issue is with the URI Safe encoding, which is definitely arbitrary and I'm open to using an existing standard here instead of [whatever it is lz-string is using](https://github.com/pieroxy/lz-string/blob/master/src/encodedURIComponent/keyStrUriSafe.ts). I'm also open to allowing users to provide their own 65-char Strings to match whatever they need.